# Project exclude paths
/demo-concurrent/target/
/distributed-filesystem/target/
/register-client/target/
/register-server/target/
/.idea/gitlab-quickmr.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/setting.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/.gitignore
/.idea/inspectionProfiles/
